@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-figma-hand: 'Patrick Hand', cursive;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
}
.leaflet-popup-content {
  margin: 0 !important;
}
.custom-map-pin {
  background: transparent !important;
  border: none !important;
}
